.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.container--header {
  display: flex;
  align-items: center;
  width: 90%;
}

body {
  font-family: DM Sans, sans-serif;
  padding-block: 48px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
}
.header__nav--hidden {
  visibility: hidden;
}
.logo {
  width: 170px;
}

i {
  color: #fff;
}