.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  font-family: DM Sans, sans-serif;
}

header {
  background-image: url("../src/img/heroBackground.webp");
  background-position: center;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 42px;
}
.header__nav--hidden {
  display: none;
}
.header__icons {
  gap: 30px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 62px;
}
.hero__title {
  font-size: 58px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}
.hero__btn {
  background-color: rgb(221, 34, 66);
  color: #fff;
  border: none;
  border-radius: 30px;
  height: 50px;
  width: 100%;
}
.hero__cards {
  background-color: rgba(0, 0, 0, 0.6);
  gap: 32px;
  margin-top: 54px;
  padding-block: 50px;
}
.hero img {
  width: 100%;
}

.card {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding-inline: 32px;
  padding-block: 12px;
}
.card__number {
  color: rgb(221, 34, 66);
  font-weight: 700;
}
.card__title {
  color: #fff;
  font-weight: 700;
}
.card__text {
  color: #939393;
}

.articles {
  display: flex;
  flex-direction: column;
  padding-block: 40px;
  background-color: #010A20;
}
.articles img {
  width: 100%;
  border-radius: 15px;
}

.walkway {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.logo {
  width: 170px;
}

i {
  color: #fff;
}