.articles{
    display: flex;
    flex-direction: column;
    padding-block: 40px;
    background-color: $blueBackground;

    img{
        width: 100%;
        @include border-radius-img;
    }
}

.walkway{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 120px;

    &__title{
        @include font-title;
        color: #fff;
    }

    &__text{
        @include font-text;
        color: $lightText;
    }


    &__btn{
        @include button-phone;

        &:hover{
            @include hover-btn;
        }
    }
}


.beach{
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__title{
        @include font-title;
        color: #fff;
    }

    &__text{
        @include font-text;        
        color: rgb(198, 198, 198);
    }


    &__btn{
        @include button-phone;

        &:hover{
            @include hover-btn;
        }
    }
}


@media (min-width: 768px) {
    .walkway{
        display: flex;
        justify-content: center;
        align-items: center;


        &__btn{
            width: 275px;
        }
    }

    .beach{
        display: flex;
        justify-content: center;
        align-items: center;

        &__btn{
            width: 275px;
        }
    }
}

@media (min-width: 1024px) {

    .articles{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-block: 205px;
        gap: 119px;
    }

    .walkway{
        display: flex;
        flex-direction: row;
        gap: 130px;

        &__title{
            font-size: 42px;
        }

        &__paragraph{
            gap: 20px;
        }

        &__btn{
            margin-top: 32px;
        }
    }

    .beach{
        display: flex;
        flex-direction: row-reverse;
        gap: 130px;

        &__title{
            font-size: 42px;
        }

        &__paragraph{
            gap: 20px;
        }

        &__btn{
            margin-top: 32px;
        }
    }
}