.explore-numbers{
    display: flex;
    padding-block: 40px;
    background-image: url("../src/img/exploreNumbers.webp");
}

.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 688px;

    &__title{
        @include font-title;
        text-align: center;
    }

    &__gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 15px;

        i{
            color: rgba(2, 11, 32, 1);
        }
    }


    &__img--tablet{
        display: none;
    }

    &__img--desktop{
        display: none;
    }

    img{
        @include border-radius-img;
    }

}

.numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 32px;
    padding-block: 72px;
    gap: 70px;
    text-align: center;
    background-color: rgba(2, 12, 33, 90%);
    color: #fff;

    &__title{
        @include font-title;
        width: 195px;
        margin-inline: 10%;
    }

    &__text{
        @include font-text;
    }
}

.nummberContent{
    margin-block: 40px;

    &__title{
        color: $redBrand;
        @include font-title;
    }

    &__text{
        @include font-text;
        color: $lightText;
    }
}
