.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $blueBackground;
    padding-top: 146px;
    padding-bottom: 83px;


    &__info{
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style: none;
        gap: 36px;
        margin-top: 36px;
    }

    &__infoItem{
        color: #fff;
        font-size: 22px;
        font-weight: 700;

        a{
            color: #fff;
            text-decoration: none;
            font-size: 22px;
            font-weight: 700;
        }
    }

    &__iconsBlock{
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding-inline: 36px;
    }
}

@media (min-width: 768px) {
    .footer{
        &__iconsBlock{
            padding-inline: 150px;
        }
    }
}

@media (min-width: 1024px){
     .footer{
        flex-direction: row;

        &__info{
            flex-direction: row;
            flex-wrap: nowrap;
        }
     }
}