header{
    background-image: url("../src/img/heroBackground.webp");
    background-position: center;
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 42px;

    &__nav--hidden{
        display: none;
    }

    &__icons{
        gap: 30px;
    }
}