

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: black;

    &__nav--hidden{
        display: none;
    }

    &__icons{

    }
}