.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 62px;

    &__title{
        font-size: 58px;
        font-family: Roboto;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
    }

    &__btn{
        @include button-phone;
    }

    &__cards{
        background-color: rgba(0, 0, 0, 60%);
        gap: 32px;
        margin-top: 54px;
        padding-block: 50px;
    }

    img{
        width: 100%;
    }
}

.card{
    background-color: rgba(0, 0, 0, 0%);
    border: none;
    padding-inline: 32px;
    padding-block: 12px;

    &__number{
        color: $redBrand;
        font-weight: 700;
    }

    &__title{
        color: #fff;
        font-weight: 700;
    }

    &__text{
        color: #939393;
    }
}