.map{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-block: 125px;
    gap: 36px;
    background-image: url("../src/img/mapBackgroundMobile.webp");
    background-position: center;

    &__title{
        @include font-title;
    }

    &__text{
        @include font-text;
        color: $paragraphDark;
    }

    &__btn{
        @include button-phone;
        width: 100%;

        &:hover{
            @include hover-btn;
        }
    }
}



@media (min-width: 768px) {
    .map{
        background-image: url("../src/img/mapBackground.webp");
        background-position: start;
        padding-inline: 36px;
    }
}

@media (min-width: 1024px){
    .map{
        padding-block: 248px;

        &__title{
            width: 614px;
        }

        &__btn{
            width: 210px;
        }

        &__text {
            width: 470px;
        }
    }
}