.map{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-block: 125px;
    padding-inline: 32px;
    gap: 36px;
    background-image: url("../src/img/mapBackgroundMobile.webp");
    background-position: center;

    &__title{
        @include font-title;
    }

    &__text{
        @include font-text;
        color: rgba(111, 119, 135, 1);
    }

    &__btn{
        @include button-phone;
    }
}