.redArrow{
    position: relative;
    left: 135px;
    top: 100px;
    transform: translate(0, 0);
    transition: transform 0.3s ease;

    &:hover{
        transform: translateY(-25px);

    }

}




@media (min-width: 768px) {
    .redArrow{
        position: relative;
        left: 341px;
        top: 165px;
}
}

@media (min-width: 1024px) {
    .redArrow{
        left: 784px;
        top: 200px;
    }
}