.container{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  &--header{
    display: flex;
    align-items: center;
    width: 90%;
  }
}

body{
    font-family: DM Sans, sans-serif;
    padding-block: 48px;
}