.container{
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;

  &--header{
    display: flex;
    justify-content: space-between;
  }

  &--map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

body{
    font-family: DM Sans, sans-serif;
}

@media (min-width: 1024px){
    .container{
      padding: 0 15px;
      margin: 0 100%;
      width: 100%;

      &--header{
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
      }
    }
}